
.custom-file-input::-webkit-file-upload-button {
	display: none;
}
.custom-file-input::before {
	padding: 8.5px;
	width: 100%;
	
  content: 'Wybierz plik do wysłania na serwer';
  font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cc0000), to(#ff1a1a));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
  cursor: pointer;
 
}
.custom-file-input:hover
{
  border-color: black;
}
.custom-file-input:active
{
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
